#ignore pyc build files
tln_variants/__pycache__/**


train/Dataset/**
train/Models/**
results/**
train/Figures/loss_curve.png
train/Models/lidar_imitation_model_loss.png

#ignore all plots and metrics.txt in data_eval
data_eval/output/**
tln_variants.egg-info/**

data_eval/output/**
eval_results/**
tln_variants/commands.txt
